@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:ital,wght@0,100;0,300;0,500;0,600;0,700;1,100;1,300;1,500;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  background-color: #dddfeb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif
}

.container {
  width: 100%;
  max-width: 600px;
  background-color: #000;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 11px rgba(0,0,0,.4);
  position: relative;
  overflow: hidden;
}

.questionsect {
  flex-direction: column;
}

h1{
  text-align: center;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin-bottom: 50px;
}

p {
  text-transform: uppercase;
  /* font-family: 'Fredoka One', cursive; */
  font-size: 12px;
  text-align: center;
}

label {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
  color: #fff;
}

select {
  width: 100%;
  padding: 10px;
  border: none;
  text-transform: capitalize;
  border-radius: 5px;
  margin-bottom: 20px;
  background: #fff;
  color: #1f2847;
  font-size: 14px;
}

.timer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.timer .progress {
  position: relative;
  width: 100%;
  height: 40px;
  background: transparent;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 10px;
  border: 3px solid #3f4868;
}

.timer .progress .progress-bar {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  background: linear-gradient(to right, #ea517c, #b478f1);
  transition: 1s linear;
}

.timer .progress .progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

#question,
#answer {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

#question {
  font-size: 50px;
  color: white;
  height: 200px;
}

#answer {
  font-size: 30px;
  padding: 15px;
  color:#D8D9DA;
  visibility: hidden;
  height: 150px;
}

#displayBtn {
  display:flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #cd000a;
  width: 100%;
  height: 60px;
  color: white;
  border: none;
  border-radius:10px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease .2s;
  padding: 0;
  margin-top:50px;
  touch-action: manipulation;
}

#replayBtn {
  background-color: #F44336;
}

.reset {
  position: absolute;
  top: 3%;
  left: 5%;
  width: 2.5%;
  cursor: pointer;
}

.questionTotal {
  color: white;
}

.errorMsg {
  color: red;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}

.hide {
  display: none;
}

/* Media Quieries */
@media screen and (max-width: 600px) {
  .container {
    width: 360px;
  }
  /* #question{
    font-size: 135px;
  }
  #answer {
    font-size:52px;
  } */
  .display{
    font-size: 1.5em;
    width:80px;
    height: 80px;
  }
  .reset {
    width: 10%;
  }
}

@media only screen and ( max-width: 812px) {
  .wrapper{
    width: 80%;
  }
  .display{
    font-size:1.4em;
    width:80px;
    height: 80px;
  }
}
